<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- Logo -->
      <h1 class="header-logo">Members Only Club</h1>

      <% if (user) { %>
        <a href="/logout">
          <button class="log-out-btn">Log Out</button>
        </a>
      <% } else { %>
        <!-- Buttons -->
        <div class="header-btn-group">

          <!-- Log In -->
          <a href="/login">
            <button class="log-in-btn">Log In</button>
          </a>

          <!-- Sign Up -->
          <a href="/signup">
            <button class="sign-up-btn">Sign Up</button>
          </a>
        </div>
      <% } %>
    </header>
  </body>
</html>
