<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('header') %>

    <!-- Main -->
    <section>
      
      <!-- User Not Logged In -->
      <% if (!user) { %>
        <!-- Log In Disclaimer -->
        <div class="disclaimer">
          <p>
            You need to <a href="/login">log in</a> in order to create a post.
          </p>
        </div>

        <!-- Post -->
        <% posts.forEach(post => { %>
          <div class="post">
            <h3><%= post.title %></h3>
            <p><%= post.message %></p>
          </div>
        <% }) %>
      <% } else { %>
        <!-- User Logged In -->
        <a href="/posts/new">
          <button class="create-post-btn">+ Create post</button>
        </a>
        <h1>Posts</h1>
      <% } %>
    </section>

    <!-- Footer -->
    <%- include('footer') %>
  </body>
</html>
