<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <section class="form-container">
      <!-- Log In Form -->
      <form class="log-in-form" action="/login" method="POST">
        <h2 class="form-title">Log In</h2>

        <!-- Error Message -->
        <% if (error.length > 0) { %>
          <div class="error-message">
            <p><%= error %></p>
          </div>
        <% } %>

        <label for="username">Username:</label>
        <input
          id="username"
          name="username"
          class="form-input"
          placeholder="Username"
          type="text"
          required
        />

        <label for="password">Password:</label>
        <input
          id="password"
          name="password"
          class="form-input"
          placeholder="Password"
          type="password"
          required
        />

        <!-- Form Buttons -->
        <div class="form-btns">
          <!-- Sign Up -->
          <button class="form-btn" type="submit">Log In</button>

          <!-- Back to home -->
          <a href="/">
            <button class="form-btn" type="button">Back to home</button>
          </a>
        </div>

        <hr />

        <p class="dont-have-acc">Don't have an account? <a href="/signup">Sign Up</a></p>
      </form>
    </section>
  </body>
</html>
