.latest {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 50px 0 50px;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 50px 50px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 20px;
  padding: 30px;
  max-width: 250px;
  height: auto;
}

.users-info {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
}

.users-info p {
  font-size: 0.9rem;
  height: 100%;
}

.users-text {
  padding: 0;
}

.users-text p {
  padding: 20px 0;
}

.first-last-names {
  display: flex;
  gap: 20px;
}

hr {
  width: 100%;
  border: 1px solid rgb(20, 20, 20);
}

.header-btn.create-post-btn {
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(43, 43, 43);
  padding: 8px 16px;
}

.header-btn.create-post-btn:hover {
  opacity: 0.8;
}
